---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<b>Publications</b>
[College Prep for All: Will San Diego Students Meet Challenging New Graduation Requirements?](http://sam-young-econ.github.io/files/PPIC%20College%20Prep%20for%20All%20A-G.pdf)  

Published in <i>Public Policy Institute of California</i>, April 2016  

Beginning with the class of 2016, San Diego Unified School District increased its graduation standards to require more college preparatory coursework. Using an event study methodology, we analyze the effects of this policy change on students in the classes of 2016-2018. Based on data through summer 2015, the new graduation standards appear to be helping some students while hurting others. Compared to other recent cohorts, the affected graduating classes have significantly increased their rates of completing college prep courses and are projected to have higher rates of students eligible to attend the state’s public universities. However, these cohorts are also projected to have lower graduation rates.


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



